<h2>Edit Code redemption</h2>

<%= render "form.html", Map.put(assigns, :action, code_redemption_path(@conn, :update, @code_redemption)) %>

<span><%= link "Back", to: code_redemption_path(@conn, :index) %></span>
